 .Day #icon {
    text-shadow: 0px 0px 0px;
}

 .Day span {
    font-size: 55px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
 .Day img {
    width: 40%;
    height: 25%;
}
 .Day {
    
    padding: 0 35px;
    width: 230px;
    display: inline-block;
    text-transform: center;
    -webkit-transition: top 1500ms 0.2s ease-out;
    -moz-transition: top 1500ms 0.2s ease-out;
    -o-transition: top 1500ms 0.2s ease-out;
    transition: top 1500ms 0.2s ease-out;
    transition-delay: 0.2s;
    position: relative;
    top: 200px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

@media (max-width : 900px) {

     .Day span {
        font-size: 15px;   
    }
    
     .Day {
        width: 230px;
        top: 200;
        padding: 0 5px;
    }
}
